.GameTable {
    height: 100vh;
    width: 100vw;
}

.commonCardContainer {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 45%;
}

.titleDiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.startbtn {
    margin-bottom: 10px;
}

.rulesbtn {
    background-color: #EFEFEF;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}

.rulesbtn:link {
    text-decoration: none;
}

.rulesbtn:hover {
    color: black
}